﻿
main {
  margin: auto;
  width: 800px;
  background: #ffffff;
  color: #000000 ;
  border: 1px solid #c0c0c0;
  display:block;
  position:static;
}

.center {
  margin: auto;
  width: 800px;
  background: #ffffff;
  color: #000000 ;
  border: 1px solid #c0c0c0;
  display:block;
  position:static;

}

.StdTextGreySmallCap
{
	font-size: 10pt;
	color: #696969;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}
.StdText
{
	font-weight: 500;
	font-size: 10pt;
	color: black;
	font-family: Verdana, Arial;
}
.StdTextSmall
{
	font-weight: 500;
	font-size: 8pt;
	color: black;
	font-family: Verdana, Arial;
}
.StdTextSmallGrey
{
  	font-weight: 500;
	font-size: 8pt;
	color: #696969;
	font-family: Verdana, Arial;
}
.StdTextGreySmallCap
{
	font-size: 16pt;
	color: #696969;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}


