<%@ Control Language="C#" AutoEventWireup="true" Inherits="SIBHeader" Codebehind="SIBHeader.ascx.cs" %>
<table width="779" border="0" cellspacing="0" cellpadding="0" Style="BACKGROUND-COLOR: #73929a">
	<tr>
		<td width="779" height="95" align="left" valign="top" >
			<IMG height="95" src=Images/logo.jpg width="299" alt="SIBLogo"><IMG height="95" src=Images/palms.jpg width="480" alt="">
		</td>
	</tr>
</table>
	