<%@ Control Language="C#" AutoEventWireup="true" Inherits="SIBMiniHeader" Codebehind="SIBMiniHeader.ascx.cs" %>
<table width="779" border="0" cellspacing="0" cellpadding="0" Style="BACKGROUND-COLOR: #73929a">
	<tr>
		<td width="779" height="38" align="left" valign="top">
			<IMG height="38" src=Images/slogo.jpg width="120" alt="SIBLogo"><IMG height="38" src=Images/spalms.jpg width="138" alt="">
		</td>
	</tr>
</table>
