.sel_menuitem 
{
	BORDER-RIGHT: thin solid; 
	FONT-WEIGHT: bolder; 
	FONT-SIZE: 8pt; 
	CURSOR: default; 
	COLOR: white; 
	FONT-FAMILY: Verdana, Arial; 
	BACKGROUND-COLOR: #73929a; 
	TEXT-ALIGN: center 
}

.sel_bmenuitem 
{
	BORDER-RIGHT: thin solid; 
	FONT-WEIGHT: bolder; 
	FONT-SIZE: 8pt; 
	CURSOR: default; 
	COLOR: white; 
	FONT-FAMILY: Verdana, Arial; 
	BACKGROUND-COLOR: #73929a; 
	TEXT-ALIGN: center 
}

.unsel_menuitem 
{ 
	BORDER-RIGHT: thin solid; 
	FONT-SIZE: 8pt; 
	CURSOR: pointer; 
	CURSOR: hand; 
	COLOR: white; 
	FONT-FAMILY: Verdana, Arial; 
	BACKGROUND-COLOR: #a2b996; 
	TEXT-ALIGN: center; 
	VALIGN: bottom 
}
	
.unsel_bmenuitem 
{
	BORDER-RIGHT: thin solid; 
	FONT-SIZE: 8pt; 
	CURSOR: pointer; 
	CURSOR: hand; 
	COLOR: white; 
	FONT-FAMILY: Verdana, Arial; 
	BACKGROUND-COLOR: #a2b996; 
	TEXT-ALIGN: center; 
	VALIGN: bottom 
}
.dis_menuitem 
{ 
	BORDER-RIGHT: thin solid; 
	FONT-SIZE: 8pt; 
	CURSOR: pointer; 
	CURSOR: default; 
	COLOR: #cccccc; 
	FONT-FAMILY: Verdana, Arial; 
	BACKGROUND-COLOR:#a2b996; 
	TEXT-ALIGN: center; 
	VALIGN: bottom 
}
.dis_bmenuitem 
{
	BORDER-RIGHT: thin solid; 
	FONT-SIZE: 8pt; 
	CURSOR: pointer; 
	CURSOR: default; 
	COLOR: #cccccc; 
	FONT-FAMILY: Verdana, Arial; 
	BACKGROUND-COLOR:#a2b996; 
	TEXT-ALIGN: center; 
	VALIGN: bottom 
}

.tdMainMenu
{
    FONT-SIZE: 1.0em;
    BACKGROUND: #cccc99;
    BORDER-LEFT: #000000 thin solid;
    COLOR: black;
    BORDER-BOTTOM: #000000 thin solid;
    FONT-FAMILY: Verdana, Ariel, Helvetica
}
.hlMainMenu
{
    FONT-SIZE: 1.0em;
    BACKGROUND: #cccc99;
    COLOR: black;
    FONT-FAMILY: Verdana, Ariel, Helvetica
}
.tdcatdesc
{
    FONT-SIZE: 10pt;
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT-FAMILY: Verdana, Ariel, Helvetica;
    TEXT-ALIGN: center
}
.tdaddressdesc
{
    FONT-SIZE: 10pt;
    BACKGROUND: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Ariel, Helvetica
}
.OptionHeaderText
{
    FONT-SIZE: 1.0em;
    FONT-WEIGHT: 700;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #73929a
}
.OptionHeader
{
    BACKGROUND-COLOR: #73929a
}
.opttext
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.optinput
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white
}
.validtext
{
    FONT-SIZE: 0.8em;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
BODY
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 0.8em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    LETTER-SPACING: normal;
}

A:link
{
    COLOR: #285B54;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #285B54;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #285B54;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #285B54;
    TEXT-DECORATION: underline
}
SMALL
{
    FONT-SIZE: 0.7em
}
BIG
{
    FONT-SIZE: 1.17em
}
BLOCKQUOTE
{
    FONT-FAMILY: Courier New, monospace
}
PRE
{
    FONT-FAMILY: Courier New, monospace
}

.opttext_small
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.tdBottHome
{
    FONT-SIZE: 1.0em;
    COLOR: navy;
    FONT-FAMILY: Verdana, Tahoma;
    TEXT-DECORATION: underline
}
.tdInputLabel
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: right
}
.tdInputText
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.tabheader
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 0.7em;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial;
    FONT-VARIANT: small-caps
}
.tabheadersub
{
    FONT-SIZE: 0.8em;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial;
    FONT-VARIANT: small-caps
}
.tdInputTextC
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #cccc99
}
.tdInputLabelLeft
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: left
}
.tdRBDataPrompt
{
    BORDER-RIGHT: black;
    BORDER-TOP: black solid;
    FONT-SIZE: 0.8em;
    BORDER-LEFT: black solid;
    COLOR: black;
    BORDER-BOTTOM: solid;
    FONT-FAMILY: Verdana, Arial
}
.InputLabel
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: right
}
.InputLabelRequired
{
    FONT-SIZE: 0.8em;
    COLOR: maroon;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: right
}
.StdText
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.StdTextPrint
{
	font-size: 8pt;
	color: black;
	font-family: 'Microsoft Sans Serif';
}
.StdTextPrintBold
{
	font-weight: bold;
	font-size: 8pt;
	color: black;
	font-family: 'Microsoft Sans Serif';
}
.StdTextSmallCap
{
	font-size: 10pt;
    FONT-WEIGHT: 500;
	color: black;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}

.StdTextGrey
{
	font-size: 10pt;
	color: #696969;
	font-family: Verdana, Arial;
}
.StdTextWhite
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 700;
    COLOR: white;
	font-family: Verdana, Arial;
}

.StdTextWhiteSmallCap
{
	font-size: 12pt;
    FONT-WEIGHT:normal;
	color: white;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}

.StdTextGreySmallCap
{
	font-size: 10pt;
	color: #696969;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}

.StdTextGreyBold
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 600;
    COLOR: #696969;
    FONT-FAMILY: Verdana, Arial
}

.StdTextAlert
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 500;
    COLOR: Red;
    FONT-FAMILY: Verdana, Arial
}
.StdTextMaroon
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 500;
    COLOR: Maroon;
    FONT-FAMILY: Verdana, Arial
}
.StdTextNavy
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 500;
    COLOR: Navy;
    FONT-FAMILY: Verdana, Arial
}
.StdTextGreen
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 500;
    COLOR:Green;
    FONT-FAMILY: Verdana, Arial
}


.StdTextWarn
{
	font-weight: 600;
	font-size: 10pt;
	color:Maroon;
	font-family: Verdana, Arial;
}
.StdTextPW
{
	font-size: 0.8em;
	color: Black;
	font-family: 'Courier New';
}
.StdTextLink
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 500;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: underline
}
.StdTextLarge
{
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.StdTextLargeUL
{
	font-size: 12pt;
	color: black;
	font-family: Verdana, Arial;
	text-decoration: underline;
}
.StdTextLargeBold
{
	font-weight: bold;
	font-size: 12pt;
	color: black;
	font-family: Verdana, Arial;
}
.StdTextLargeMaroon
{
    FONT-SIZE: 12pt;
    FONT-WEIGHT: 500;
    COLOR: Maroon;
    FONT-FAMILY: Verdana, Arial
}
.StdTextLargeSmallCap
{
	font-size: 12pt;
    FONT-WEIGHT: 700;
	color:black;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}

.StdTextLargeWhiteSmallCap
{
	font-size: 12pt;
    FONT-WEIGHT: 700;
	color: white;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}

.StdTextExLargeWhiteSmallCap
{
	font-size: 14pt;
    FONT-WEIGHT: 700;
	color: white;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}

.StdTextHuge
{
	font-size: 24pt;
    FONT-WEIGHT: 700;
	color:Fuchsia;
	font-family: Verdana, Arial;
	font-variant: small-caps;
}

.StdTextLargeWhite
{
    FONT-SIZE: 12pt;
    FONT-WEIGHT: 600;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial
}
.StdTextLargeAlert
{
    FONT-SIZE: 12pt;
    FONT-WEIGHT: 600;
    COLOR: Red;
    FONT-FAMILY: Verdana, Arial
}
.StdTextLinkLarge
{
    FONT-SIZE: 12px;
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: underline
}

.StdTextSmall
{
	font-weight: 500;
	font-size: 8pt;
	color: black;
	font-family: Verdana, Arial;
}
.StdTextSmallGrey
{
  	font-weight: 500;
	font-size: 8pt;
	color: #696969;
	font-family: Verdana, Arial;
}
.StdTextSmallGreyBold
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 600;
    COLOR: #696969;
    FONT-FAMILY: Verdana, Arial
}

.StdTextSmallGreySmallCap
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 500;
    COLOR: #696969;
    FONT-FAMILY: Verdana, Arial;
	font-variant: small-caps;
}

.StdTextSmallCenter
{
	font-size: 8pt;
	color: black;
	font-family: Verdana, Arial;
	text-align: center;
}

.StdTextSmallAlert
{
    FONT-SIZE: 8pt;
    COLOR: Red;
    FONT-FAMILY: Verdana, Arial
}

.StdTextSmallMaroon
{
    FONT-SIZE: 8pt;
    COLOR: Maroon;
    FONT-FAMILY: Verdana, Arial
}

.StdTextSmallNavy
{
    FONT-SIZE: 8pt;
    COLOR:Navy;
    FONT-FAMILY: Verdana, Arial
}

.StdTextSmallRed
{
    FONT-SIZE: 8pt;
    COLOR: Red;
    FONT-FAMILY: Verdana, Arial
}

.StdTextSmallWhite
{
    FONT-SIZE: 8pt;
    font-weight:bolder;
    COLOR: White;
    FONT-FAMILY: Verdana, Arial
}

.TableLink
{
    font-weight: 500;
    font-size: 8pt;
    color: Navy;
    font-family: Verdana, Arial;
    text-decoration: underline;
}

.InputText
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.tdpagehdrbottom
{
    FONT-SIZE: 8pt;
    COLOR: black;
    BORDER-BOTTOM: #666666 thick solid;
    FONT-FAMILY: "Arial";
    BACKGROUND-COLOR: white
}
.pageHeaderTop
{
    FONT-SIZE: 1.0em;
    FONT-WEIGHT: 600;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.pageHeaderBottom
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 1.0em;
    COLOR: black;
    BORDER-BOTTOM: #cccccc thick solid;
    FONT-FAMILY: Verdana, Arial
}
.LinkSmall
{
    FONT-SIZE: 0.7em;
    FONT-WEIGHT: 500;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial
}




.tabHeaderAlert
{
    FONT-SIZE: 1.0em;
    COLOR: maroon;
    FONT-FAMILY: Verdana, Arial;
    FONT-VARIANT: small-caps
}

.inputtextcolorbg
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #dcdca9
}


.InputLabelLeft
{
    FONT-SIZE: 0.8em;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: left
}

.tblFrame
{
	border-right: dimgray thin solid;
	border-top: dimgray thin solid;
	border-left: dimgray thin solid;
	border-bottom: dimgray thin solid;
}
.required
{
	color: red;
}

.mnutab_unsel	
{
	background-color: #006699;
	text-align: center;
    color: white;
    cursor: hand;
    font-family: Verdana, Arial;
    font-size: 0.8em;
    border-right: thin solid

}

.mnutab_sel
{
	background-color:#ffcc00;
	text-align: center;
    cursor: default;
    color: navy;
    font-family: Verdana, Arial;
    font-size: 0.8em;
    font-weight: bolder;
    border-right: thin solid
}

A.docLinks:link
{
	color: #666666;
	text-decoration:none;
}
A.docLinks:visited
{
	color: #666666;
	text-decoration:none;
}
A.docLinks:active
{
	color: #666666;
	text-decoration:none;
}
A.docLinks:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A.botLinks:link
{
	color: #696969;
    TEXT-DECORATION: underline
}
A.botLinks:visited
{
	color: #696969;
    TEXT-DECORATION: underline
}
A.botLinks:active
{
	color: #696969;
    TEXT-DECORATION: underline
}
A.botLinks:hover
{
	color: #000000;
    TEXT-DECORATION: underline
}