﻿body
{
    background: #ffffff;
    font-size: 18px;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0 0 0 0px;
}

.page
{
    border: 1px solid #C0C0C0;
    background-color: #ffffff;
    width: 860px;
    margin: 10px auto 0px auto;
    padding: 5px;
    height: 600px;
}
a.menubutton
{ 
        /*background-color:#80BD01; /*green*/
    color: #006DC5; 
    text-decoration: underline; 
    Font-Size: 16pt;
}

a.menubutton:hover 
{ 
    color: #80BD01; 
    text-decoration: underline; 
    Font-Size: 16pt;
}

/*a.menubutton_active
{ 
    background-color:#006DC5;
    color: #ffffff; 
    text-decoration: underline; 
    font-Size: 18pt;
    font-weight: bold;
}*/

a.menubutton_selected
{ 
    background-color:#006DC5;
    color: #ffffff; 
    text-decoration: underline; 
    font-Size: 18pt;
}
a.menubutton_disabled
{ 
    background-color:darkgray;
    color: #ffffff; 
    text-decoration: none; 
    font-Size: 18pt;
}