﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteMaster.Master.cs" Inherits="CL_ValuationUtils.SiteMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sutton Inspection Bureau</title>
    <link href="Site.css" rel="stylesheet" type="text/css" />

     <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="frmMaster" runat="server">
        <div class="page">
            <div class="siteheader">
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: left; width: 60%">
                            <asp:Image ID="SuttonLogo" AlternateText="Sutton Logo" runat="server" ImageUrl="~/Images/SuttonLogo.jpg" />
                        </td>
                        <td style="text-align: center; width: 40%">
                            <asp:Label ID="lblHeader" runat="server" Font-Names="Helvetica Neue" Font-Size="24pt" ForeColor="#006DC5" Text="Valuation Portal"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <hr />
                        </td>
                    </tr>
                </table>
 <%--               <table style="width: 100%;">
                    <tr>
                        <td style="width: 10%">&nbsp;</td>
                        <td style="text-align: center; width: 80%">
                            <table style="width: 100%; padding:2px; height: 40px;">
                                <tr>
                                    <td style="text-align: center; vertical-align:central; width: 50%; height: 100%">
                                        <asp:LinkButton  ID="rescreate" runat="server" Text="Residential" CssClass="menubutton" Height="100%" Width="100%" OnClick="rescreate_Click" BorderColor="#999999" BorderStyle="Solid" BorderWidth="1px" Font-Size="18pt" ></asp:LinkButton>
                                    </td>
                                    <td style="text-align: center; width: 50%">
                                        <asp:LinkButton  ID="commcreate" runat="server" Text="Commercial" CssClass="menubutton" Height="100%" Width="100%" OnClick="commcreate_Click" BorderColor="#999999" BorderStyle="Solid" BorderWidth="2px" Font-Size="18pt" ></asp:LinkButton>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 10%">&nbsp;</td>
                    </tr>
                </table>
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: center;">
                            <hr />
                        </td>
                    </tr>
                </table>--%>
            </div>
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>

            <input id="hicurPage" type="hidden" runat="server" />
            <script type="text/javascript">

                function setSelected() {

                    var curPage = document.getElementById('hicurPage').value;

                    if (curPage !== "") {
                        var found = document.getElementById(curPage);

                        if (found !== null) {
                            document.getElementById(curPage).className = 'menubutton_selected';
                        }
                    }
                }

            </script>

        </div>
    </form>
</body>
</html>
