<%@ Control Language="C#" AutoEventWireup="true" Inherits="SIBHeader" Codebehind="SIBHeader.ascx.cs" %>
<table width="779" border="0" cellspacing="0" cellpadding="0" style=" background-color:#73929a">
	<tr>
		<td style="width:779; height:95;" align="left" valign="top" >
			<img height="95" src="Images/logo.jpg" width="299" alt="SIBLogo" /><img height="95" src="Images/palms.jpg" width="480" alt="" />
		</td>
	</tr>
</table>
	