﻿body
{
    background: #ffffff;
    font-size: 18px;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0 0 0 0px;
}

.page
{
    border: 1px solid #C0C0C0;
    background-color: #ffffff;
    width: 860px;
    margin: 5px auto 0px auto;
    padding: 0px;
    height: 900px;
}
a.menubutton
{ 
        /*background-color:#80BD01; /*green*/
    color: #006DC5; 
    text-decoration: underline; 
    Font-Size: 16pt;
}

a.menubutton:hover 
{ 
    color: #80BD01; 
    text-decoration: underline; 
    Font-Size: 16pt;
}

/*a.menubutton_active
{ 
    background-color:#006DC5;
    color: #ffffff; 
    text-decoration: underline; 
    font-Size: 18pt;
    font-weight: bold;
}*/

a.menubutton_selected
{ 
    background-color:#006DC5;
    color: #ffffff; 
    text-decoration: underline; 
    font-Size: 18pt;
}
a.menubutton_disabled
{ 
    background-color:darkgray;
    color: #ffffff; 
    text-decoration: none; 
    font-Size: 18pt;
}
.StdText
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.StdTextGrey
{
	font-size: 10pt;
	color: #696969;
	font-family: Verdana, Arial;
}
.StdTextSmall
{
	font-weight: 500;
	font-size: 8pt;
	color: black;
	font-family: Verdana, Arial;
}
.StdTextSmallGrey
{
  	font-weight: 500;
	font-size: 8pt;
	color: #696969;
	font-family: Verdana, Arial;
}
.StdTextSmallGreyBold
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 600;
    COLOR: #696969;
    FONT-FAMILY: Verdana, Arial
}
.SectionHdrText
{
    FONT-SIZE: 9pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial
}
.SectionHdrTextSmall
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial
}
.CurCaseDataLable
{
  	font-weight: 500;
	font-size: 8pt;
	color: #696969;
	font-family: Verdana, Arial;
    width: 90%;
    border-width: 1px;
    border-style: solid;
    border-color: LightSteelBlue;
    background-color: white;
}